/* Diego Hudelson My Additions to CSS */

body {
	background-color: black;
	margin-left: 2%;
	margin-right: 2%;
}
h3 {
	padding: 3%;
	text-align: center;
}
p {
	padding: 3%;
	text-align: center;
}
a {
	color: white;
}
a:hover {
	color: red;
}
.redvisited:visited {
	color: red;
}

.button {
	border-radius: 10px;
	padding: 5%;
}

.header {
	height: 30em;
	background-image: url(background.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.header > div > h1 {
	position: absolute;
	top: 3%;
	color: white;
	background-color: black;
}

.index_images {
	display: flex;
}

.index_images > a {
	flex: 1;
	padding: 3%;
}

.section1 {
	display: flex;
}

.section1 > h3 {
	color: white;
	flex: 1;
	margin-top: 1%;
}

.section1 > p {
	color: white;
	flex: 1;
}

.section2 {
	background-color: white;
}

.section3 > h3 {
	color: white;
}

.section3 > div {
	display: flex;
}

#lifeweaver {
	padding: 5%;
}

.text > p {
	margin-top: 20%;
	padding: 5%;
	color: white;
	text-align: left;
	flex: 2;
}

.abilities {
	display: flex;
	justify-content: center;
}